<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span style="font-size: 20px;">Bookers</span>
        </nav>
           <div>
            <ul class="navbar-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user.id), class:"glyphicon glyphicon-home" do %>
                   Home
                  <% end %> 
                </li>
                <li>
                  <%= link_to users_path, class:"glyphicon glyphicon-user" do %>
                     Users
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path, class:"glyphicon glyphicon-book" do %>
                     Books
                  <% end %> 
                </li>
                <li> 
                  <%= link_to destroy_user_session_path, class:"glyphicon glyphicon-log-out" , method: :delete do %>
                    logout
                  <% end %>
                </li>
              <% else %>
                <li>
                    <a class="glyphicon glyphicon-home" href="/"> Home</a>
                </li>
                <li>
                  <a class="glyphicon glyphicon-link" href="/home/about"> About</a>  
                </li>
                <li>
                  <%= link_to new_user_registration_path,class:"glyphicon glyphicon-edit" do %>
                   sign up
                  <% end %> 
                </li>
                <li>
                  <%= link_to new_user_session_path, class:"glyphicon glyphicon-log-in" do %>
                     login
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div> 
        </div>
    </header>
    <div class="container">
      <div class="row">
        <p id="notice">
        <%= notice %>
        </p>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
